/* ESTILOS DE CONTACTO */
.contenedorcont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .4fr 1.5fr 0.5fr 1.5fr .6fr;
    grid-template-areas: 
    "headerco"
    "menuco"
    "sectcont1"
    "sectcont2"
    "sectcontinfo"
    "footer"
    ;
}


.headerco{
    grid-area: headerco;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    img{
        width: 15rem;
        height:15rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    h1{
        margin-top: 1rem;
        font-size: 5rem;
        }
}
.menuco{
    position: sticky;
    top: 2px;
    grid-area: menuco;
    background-color: black;
    .btn{
        color: white;
        border: solid white 2px;
        border-radius: 5px;
       }
}
.sectcont1{
    margin-top: 3rem;
    grid-area: sectcont1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iframemapa{
    height: 30rem;
    width: 75rem;
    margin-top: 3rem;
    border-radius: 3rem;
}
.sectcont1 h3{
    font-size: 4rem;
    margin-bottom: 3rem;
}
.sectcontactoinfo{
    grid-area: sectcontinfo;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
}
.sectcont2{
    margin-top: 8rem;
    grid-area: sectcont2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    .redrow{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }
    h2{
        font-size: 4rem;
    }
}
.sectcont2 h3{
    margin-bottom: 4rem;
    font-size: 3rem;
}
.instalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.facelog{
    @extend .instalog;
}
.fonolog{
    @extend .instalog;
}
.sectioncontacto{
    display: flex;
    flex: column nowrap;
    justify-content: center;
    align-items: center;
}
    
.insta img{
    width: 1-rem;
    height: 6rem;
    margin-right: 2rem;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.face img{
    width: 6rem;
    height: 6rem;
    margin-right: 5rem;
    position: relative;
    left: 2rem;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}
.fono img{
    width: 12rem;
    height: 10rem;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}
@keyframes girar{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
.face p{
    margin-left: rem;
}





@keyframes cambiocolor {

    25%{
        color: black;
    }

    50%{
        color: white;
    }

    75%{
        color: black;
    }

    100%{
        color: white
    }

}

.encontranos{
    animation-name: cambiocolor;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}